* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  text-decoration: none;
  scroll-behavior: smooth;
}


@media only screen and (max-width: 670px) {
  h1 {
    font-size: 40px;
    text-decoration: none;
    color: white;
  }

  h2 {
    font-size: 25px;
    text-decoration: none;
  }

  h3 {
    text-decoration: none;
    color: white;
  }

  body {
    background-color:none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;

  }

  main{
    font-family: 'Jost', sans-serif;
  }
/*Animation Styling*/
.intro{
  background-color:black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider{
  background-color:#555;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.intro-text{
  color: white;
  font-size: 1rem;
}

.hide{
  background-color: black;
  overflow: hidden;
}

.hide span{
  transform: translateY(100%);
  display: inline-block;

}

.greeting{
  color: white;
}

.plantsTitle{
  color: white;
}
.time{
  margin-top: -2%;
  margin-left: -4%;
}
.clock{
  color: white;
  margin: 4%;
}


  .clock-Time {
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  #none{
    display: none;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    margin-top: -10px;
    width: 60px;
    height: 34px;
    margin-left: 2%;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .position {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .navbar {
    background-color: none;
    padding: 5%;
    margin: 2%;
    margin-right: 4%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 90%;
    z-index: 1;

  }

  .behindNav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: -10;
    width: 90%;
    height: 50px;
    border-radius: 200px;
    margin: 2%;

  }


  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .navbar a:hover {
    border-radius: 200px;
    background-color: grey;
    color: white;


  }

  /* Add a color to the active/current link */
  a.active {
    height: 3px;
    width: 50px;
    border-radius: 200px;
    background-color: white;

    border-color: #63BCCC;
    position: relative;
    z-index: 10;
    color: black;
    padding: 10px 16px;
    padding-bottom: 13%;
    margin-bottom: 0px;

  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 60%;
    text-decoration: none;

  }

  .link {
    position: relative;
    z-index: 30;
  }

  .logIn {
    display: flex;
    flex-direction: column;
    margin-top: 17%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: -25%;
    border-radius: 20px;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 15%;
    background-color: white;
    color: #212B57;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

  }

  .smallFont {
    font-size: 3.45vw;
    text-decoration: none;
  }

  .buttonStretch {
    background-color: #212B57;
    border-radius: 100px;
    width: 100%;

  }
/*Tutorial page*/
.skip{
text-align: end;
}

.allInstructions{
  margin-top: 15%;
  padding: 8%;
  font-size: 18px;
 
}

.mainInstructions{
  margin-top: 15%;
  padding: 3%;
  line-height: 1.75;
}

.next{
  position: fixed;
  bottom:0;
  right: 0;
  text-align: center;
margin: 6%;
background-color: white;
width: 10%;
height: 4%;
border-radius: 10px;
}
  /*home page*/


  .content {
    padding: 6%;
  
  }

  .currentLocation {
    margin-top: 4%;
  }

  .middle {
    margin-top: 5%;
    padding: 2%;
  }

  .assets {
    float: left;
    width: 19%;
  }

  .inventory {
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    height: 240px;
  }

  .firstPage {
    display: flex;  
    flex-direction: column;
    align-items: center;
  margin-top: 5%;
  
 
  }

  .homePlant {
    display: flex;   
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 277px;
    background-color: white;
    border-radius: 15px;
 

  }

  .checklistSmall a{
    margin-top: 5%;
    padding: 5%;
    background-color: white;
    border-radius: 15px;
    height: 100px;
    text-decoration: none;
    display: block;
    color: #212B57;
  }

  .arrow {
    margin-top: -17%;
    text-align: right;
  }

  .care {
    background-color: white;
    border-radius: 200px;
    overflow: hidden;
    position: fixed;
    margin-bottom: 30%;
    bottom: 0;
    color: #212B57;
    font-size: 19px;
  }

  .careInstructions {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    text-align: center;
    display: hidden;
  }

  #label {
    display: none;
  }



  .home {
    background-color: black;
    border-radius: 300px;
    color: white;
    font-size: 17px;
    width: 100%;

  }

  /*MarketPlace page*/
  #waterCount {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }

  #plantsCount {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
  #plantsCount2 {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }

  .noOfPlants {
    text-align: left;
    margin-top: -3%;
    padding-bottom: 2%;
    margin-left: 6%;
  }

  .purchase-confirmation {
    margin-top: 10%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 15;
    background-color: #CDB4D4;
  }

  .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-item {
    margin: 12px;   
    color: black;

  }

  .nav-link.active {
    text-align: center;
    height: 40px;
    width: fit-content;
    color:white;

  }


  .coins {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 5%;

  }

  .coins2 {

    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
    width: 50px;
    float: left;
    margin-right: 10%;

  }


  .inventory2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 70%;
    height: 50px;
  }


  .tab-content {
    width: 100%;
    align-items: center;
  }

  .window {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 44%;
    margin: 3%;
    height: 220px;
    border-radius: 15px;
    float: left;
  }



  /*Checklist page*/



  #add-update-msg {
    margin-top: 10%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 5;
    background-color: #CDB4D4;
  }

  #add-coin-msg {
    margin-top: 10%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 10;
    background-color: #FFBD89;

  }

  .alert {
    padding-bottom: 0;
  }

  .checklist {
    text-align: center;


  }

  #totalItems {
    display: flex;
    width: 10px;
    float: left;
    margin-right: 5%;
  }

  #list {
    text-align: left;
    padding: 5%;
    border-radius: 25px;
    background-color: white;
    min-height: 600px;
    margin-top: 7%;


  }

  /* Button used to open the chat form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    font-size: 50px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 80px;
    right: 28px;
    width: 20%;
    padding-bottom: 5px;
    border-radius: 300px;
    z-index: 2;
  }

  /* The popup chat - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    font-family: 'Roboto', sans-serif;
  }

  /* Add styles to the form container */
  .form-container {
    display: hidden;
    position: absolute;
    padding: 15px;
    margin: 22%;
    margin-top: 40%;
    top: 0;
    border-radius: 10px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 10px;
    font-family: 'Roboto', sans-serif;
  }

  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: green;
    color: white;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    width: 18%;
    padding: 0;
    padding-top: 1%;

    margin-left: 82%;
    opacity: 0.8;
    margin-top: 6%;
    text-align: center;
    align-items: center;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    width: 10%;
    padding-top: -20px;
    color: black;
    background-color: white;
    margin-left: 35%;
    margin-top: -4%;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }

  /* Settings page */

  .home {
    width: 25%;
    margin-left: 5%;

  }


}